<a href="https://colab.research.google.com/github/RobClark1254/Robert_INFO4670_Spring2026/blob/main/Assignment_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Data Quality Check

1.1 Using Python (pandas, matplotlib, or seaborn), load and inspect the Assignment 2 dataset.

In [2]:
# Write your code here

from google.colab import files
uploaded = files.upload()

Saving Assignment 2 dataset.csv to Assignment 2 dataset (1).csv

In [3]:
import pandas as pd
df = pd.read_csv('Assignment 2 dataset.csv')
print('Shape: ', df.shape)
df.head()

Shape:  (18254, 14)

,Column 1,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,12-27-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,12-20-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,12-13-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,12-6-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,11-29-2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

Write code to explore the data distribution (e.g., region, type, year) and check whether there is any bias. Provide both the code and your interpretation.

In [4]:
# Write your code here
import pandas as pd
import numpy as np
import re

print("   Distribution by Year   ")
year_counts = df['year'].value_counts().sort_index()
print(year_counts)
print()

print("   Distribution by type   ")
type_counts = df['type'].value_counts().sort_index()
print(type_counts)
print()

print("   Distribution by Region   ")
region_counts = df['region'].value_counts().sort_index()
print(region_counts)

#the only bias i can see by this is sales oer year seemed to be decreasing after 2017.
#I think that would mess up projection models for later sales.

   Distribution by Year
year
1904       1
2015    5615
2016    5616
2017    5722
2018    1300
Name: count, dtype: int64

   Distribution by type
type
conventional    9126
organic         9127
Name: count, dtype: int64

   Distribution by Region
region
Albany                 338
Atlanta                338
BaltimoreWashington    338
Boise                  338
Boston                 338
BuffaloRochester       338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Denver                 338
Detroit                338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
LasVegas               338
LosAngeles             338
Louisville             338
MiamiFtLauderdale      338
Midsouth               338
Nashville              338
NewOrleansMobile       338
NewYork                338
Northeast              338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
RaleighGreensboro      338
RichmondNorfolk        338
Roanoke                338
Sacramento             338
SanDiego               338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SouthCentral           338
Southeast              338
Spokane                338
StLouis                338
Syracuse               338
Tampa                  338
TotalUS                338
West                   338
WestTexNewMexico       340
Name: count, dtype: int64

1.2 Write Python code to check for duplicate rows and missing values in the dataset. Show the number of duplicates and missing values for each column. Then, explain (in comments or markdown) how you would handle these issues (e.g., drop, impute, or replace).

In [24]:
# Write your code here
print("\n    DUPLICATE ROWS    ")
num_duplicate_rows = df.duplicated().sum()
num_total_rows = len(df)
print(f"Total rows in dataset: {num_total_rows}")
print(f"Number of exact duplicate rows: {num_duplicate_rows}")
if num_duplicate_rows > 0:
    print(f"Percentage of duplicate rows: {(num_duplicate_rows / num_total_rows) * 100:.6f}%")

else:
    print("No exact duplicate rows found.")

#looking for missing values
print("\n    MISSING VALUES PER COLUMN    ")
missing_values_per_column = df.isnull().sum()
#Only showing missing value columns
missing_values_per_column = missing_values_per_column[missing_values_per_column > 0]
if not missing_values_per_column.empty:
    print("Number of missing values in each column:")
    print(missing_values_per_column)
else:
    print("No missing values found in any column.")

print("\n    DUPLICATE VALUES WITHIN EACH COLUMN    ")
duplicates_in_columns = {}
for column in df.columns:
    #Count values that are duplicates in each column
    col_duplicates_count = df[column].duplicated().sum()
    if col_duplicates_count > 0:
        duplicates_in_columns[column] = col_duplicates_count

if duplicates_in_columns:
    for col, count in duplicates_in_columns.items():
        print(f"Column '{col}': {count} duplicate values")
else:
    print("No duplicate values found within any column (meaning all values are unique).")

    """I think dropping the the duplicate rows would help increase the accuracy of the data, and
    doesn't skew results when finishing analysis"""
    """I would consider dropping missing values as well, but for some i would fill in what we can find out.
    for example a lot of the missing dates for 2015 could be filled in as just 2015 since the year is also on there."""

    DUPLICATE ROWS
Total rows in dataset: 18251
Number of exact duplicate rows: 0
No exact duplicate rows found.

    MISSING VALUES PER COLUMN
No missing values found in any column.

    DUPLICATE VALUES WITHIN EACH COLUMN
Column 'Date': 18081 duplicate values
Column 'AveragePrice': 17992 duplicate values
Column 'Total Volume': 14 duplicate values
Column '4046': 548 duplicate values
Column '4225': 148 duplicate values
Column '4770': 6180 duplicate values
Column 'Total Bags': 154 duplicate values
Column 'Small Bags': 929 duplicate values
Column 'Large Bags': 3168 duplicate values
Column 'XLarge Bags': 12663 duplicate values
Column 'type': 18249 duplicate values
Column 'year': 18246 duplicate values
Column 'region': 18197 duplicate values

1.3 Use Python code to print the number of rows and columns in the dataset (e.g., with df.shape). Based on the dataset size, explain (briefly) whether you think the dataset is sufficient for training a machine learning model.

In [6]:
# Write your code here
print("Number of rows and columns:", df.shape)
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

"""to be completely honest i am not sure if it is sufficient i think it could be helpful for simple models"""

Number of rows and columns: (18254, 14)
Number of rows: 18254
Number of columns: 14

'to be completely honest i am not sure if it is sufficient i think it could be helpful for simple models'

#2. Data Cleaning and Preprocessing

2.1 Remove the first column or “Column 1” from the dataset. Treat the ‘year’ variable as nominal.

In [7]:
df = df.drop(columns=['Column 1'])

df['year'] = df['year'].astype('category')

print("Dataset after removing 'Column 1' and converting 'year' to category:")
display(df.head())
print("Data types after changes:")
display(df.dtypes)

Dataset after removing 'Column 1' and converting 'year' to category:

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,12-27-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,12-20-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,12-13-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,12-6-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,11-29-2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

Data types after changes:

Date              object
AveragePrice     float64
Total Volume     float64
4046             float64
4225             float64
4770             float64
Total Bags       float64
Small Bags       float64
Large Bags       float64
XLarge Bags      float64
type              object
year            category
region            object
dtype: object

2.2 Check for duplicate values and remove them.

In [8]:
num_duplicate_rows = df.duplicated().sum()

if num_duplicate_rows > 0:
    print(f"Found {num_duplicate_rows} duplicate rows. Removing them...")
    df.drop_duplicates(inplace=True)
    print("Duplicate rows removed successfully.")
    print(f"New number of rows: {len(df)}")
else:
    print("No duplicate rows found.")

num_duplicate_rows_after = df.duplicated().sum()
if num_duplicate_rows_after == 0:
    print("Confirmed: No duplicate rows remaining.")
else:
    print(f"Warning: {num_duplicate_rows_after} duplicate rows still exist after removal attempt.")

Found 2 duplicate rows. Removing them...
Duplicate rows removed successfully.
New number of rows: 18252
Confirmed: No duplicate rows remaining.

2.3 Check for missing values. If a data record (row) only has a few missing values, replace the missing values with the median of the column feature in that specific “Region” variable. If most column values in a data record are missing, remove the data record.

In [25]:
print("\n    Missing Values Before Handling    ")
missing_values_count = df.isnull().sum()
missing_values_count = missing_values_count[missing_values_count > 0]
if not missing_values_count.empty:
    print(missing_values_count)
else:
    print("No missing values found.")

df['non_missing_count'] = df.count(axis=1)
num_columns_for_consideration = len(df.columns) - 1

#Threshhold for what counts as missing too much info
missing_threshold = num_columns_for_consideration * 0.5

rows_to_drop = df[df['non_missing_count'] < (num_columns_for_consideration - missing_threshold)].index

if not rows_to_drop.empty:
    print(f"\nDropping {len(rows_to_drop)} rows where most values are missing...")
    df.drop(rows_to_drop, inplace=True)
    print(f"Remaining rows: {len(df)}")
else:
    print("\nNo rows found with most values missing (based on threshold).")

df.drop(columns=['non_missing_count'], inplace=True)

print("\n--- Imputing remaining missing values by Region ---")

numerical_cols = df.select_dtypes(include=['number']).columns

for col in numerical_cols:
    if df[col].isnull().any():
        df[col] = df.groupby('region')[col].transform(lambda x: x.fillna(x.median()))
        print(f"Imputed missing values in '{col}' with median by region.")

categorical_cols = df.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
    if df[col].isnull().any():
        df[col] = df.groupby('region')[col].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else x.dropna().sample(1).iloc[0] if not x.dropna().empty else 'Unknown'))
        print(f"Imputed missing values in categorical column '{col}' with mode/fallback by region.")

print("\n--- Missing Values After Handling ---")
missing_after_handling = df.isnull().sum()
missing_after_handling = missing_after_handling[missing_after_handling > 0]
if not missing_after_handling.empty:
    print("Warning: Some missing values still exist:")
    print(missing_after_handling)
else:
    print("All missing values have been handled successfully.")

print("\nUpdated DataFrame head after handling missing values:")
display(df.head())

    Missing Values Before Handling
No missing values found.

No rows found with most values missing (based on threshold).

--- Imputing remaining missing values by Region ---

--- Missing Values After Handling ---
All missing values have been handled successfully.

Updated DataFrame head after handling missing values:

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

2.4 Find the correlation between the variables and describe how the correlated values among the variables impact the model accuracy.

In [10]:
correlation_matrix = df.select_dtypes(include=['number']).corr()

display(correlation_matrix)
print("\nThis table shows the correlation coefficient (ranging from -1 to 1) between each pair of numerical variables.")
print("Values closer to 1 indicate a strong positive correlation, values closer to -1 indicate a strong negative correlation, and values closer to 0 indicate a weak or no linear correlation.")

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
AveragePrice,1.000000,-0.192767,-0.208325,-0.172944,-0.179458,-0.177103,-0.174742,-0.172953,-0.117604
Total Volume,-0.192767,1.000000,0.977863,0.974181,0.872203,0.963047,0.967238,0.880640,0.747158
4046,-0.208325,0.977863,1.000000,0.926110,0.833390,0.920057,0.925280,0.838646,0.699378
4225,-0.172944,0.974181,0.926110,1.000000,0.887856,0.905788,0.916032,0.810016,0.688810
4770,-0.179458,0.872203,0.833390,0.887856,1.000000,0.792315,0.802734,0.698473,0.679862
Total Bags,-0.177103,0.963047,0.920057,0.905788,0.792315,1.000000,0.994334,0.943009,0.804233
Small Bags,-0.174742,0.967238,0.925280,0.916032,0.802734,0.994334,1.000000,0.902589,0.806845
Large Bags,-0.172953,0.880640,0.838646,0.810016,0.698473,0.943009,0.902589,1.000000,0.710860
XLarge Bags,-0.117604,0.747158,0.699378,0.688810,0.679862,0.804233,0.806845,0.710860,1.000000

This table shows the correlation coefficient (ranging from -1 to 1) between each pair of numerical variables.
Values closer to 1 indicate a strong positive correlation, values closer to -1 indicate a strong negative correlation, and values closer to 0 indicate a weak or no linear correlation.

#3. Exploratory Data Analysis (EDA)

3.1 Describe the variables
- Describe all variables in the dataset.
- For continuous variables: report **range (min, max), mean, median, and distribution**.
- For categorical variables: list unique values.

In [26]:
print("    Description of Numerical Variables    ")
display(df.describe())

print("\n    Range (Min, Max), Mean, Median, and Distribution for Continuous Variables    ")
numerical_cols = df.select_dtypes(include=['number']).columns
for col in numerical_cols:
    print(f"\nColumn: {col}")
    print(f"  Range: ({df[col].min()}, {df[col].max()})")
    print(f"  Mean: {df[col].mean():.2f}")
    print(f"  Median: {df[col].median():.2f}")

print("\n    Unique Values for Categorical Variables    ")
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
    print(f"\nColumn: {col}")
    print(f"  Unique Values: {df[col].unique()}")
    print(f"  Value Counts:\n{df[col].value_counts()}")

    Description of Numerical Variables

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
count,18251,18251.000000,1.825100e+04,1.825100e+04,1.825100e+04,1.825100e+04,1.825100e+04,1.825100e+04,1.825100e+04,18251.000000
mean,2016-08-11 18:08:49.023067136,1.406020,8.505523e+05,2.929840e+05,2.951225e+05,2.283727e+04,2.396140e+05,1.821784e+05,5.433233e+04,3106.086096
min,1904-01-21 00:00:00,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,2015-10-25 00:00:00,1.100000,1.084067e+04,8.543500e+02,3.008325e+03,0.000000e+00,5.089525e+03,2.851225e+03,1.274550e+02,0.000000
50%,2016-08-14 00:00:00,1.370000,1.073542e+05,8.645300e+03,2.905673e+04,1.849900e+02,3.973853e+04,2.636282e+04,2.647710e+03,0.000000
75%,2017-06-04 00:00:00,1.660000,4.329430e+05,1.110375e+05,1.501258e+05,6.240690e+03,1.107789e+05,8.333475e+04,2.200730e+04,132.365000
max,2018-03-25 00:00:00,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000
std,NaN,0.402675,3.453367e+06,1.264922e+06,1.204058e+06,1.074584e+05,9.861913e+05,7.461393e+05,2.439532e+05,17691.955036

    Range (Min, Max), Mean, Median, and Distribution for Continuous Variables

Column: AveragePrice
  Range: (0.44, 3.25)
  Mean: 1.41
  Median: 1.37

Column: Total Volume
  Range: (84.56, 62505646.52)
  Mean: 850552.31
  Median: 107354.25

Column: 4046
  Range: (0.0, 22743616.17)
  Mean: 292983.95
  Median: 8645.30

Column: 4225
  Range: (0.0, 20470572.61)
  Mean: 295122.55
  Median: 29056.73

Column: 4770
  Range: (0.0, 2546439.11)
  Mean: 22837.27
  Median: 184.99

Column: Total Bags
  Range: (0.0, 19373134.37)
  Mean: 239613.96
  Median: 39738.53

Column: Small Bags
  Range: (0.0, 13384586.8)
  Mean: 182178.42
  Median: 26362.82

Column: Large Bags
  Range: (0.0, 5719096.61)
  Mean: 54332.33
  Median: 2647.71

Column: XLarge Bags
  Range: (0.0, 551693.65)
  Mean: 3106.09
  Median: 0.00

    Unique Values for Categorical Variables

Column: type
  Unique Values: ['conventional' 'organic']
  Value Counts:
type
conventional    9126
organic         9125
Name: count, dtype: int64

Column: year
  Unique Values: [2015, 2016, 2017, 2018, 1904]
Categories (5, int64): [1904, 2015, 2016, 2017, 2018]
  Value Counts:
year
2017    5722
2016    5616
2015    5615
2018    1297
1904       1
Name: count, dtype: int64

Column: region
  Unique Values: ['Albany' 'Atlanta' 'BaltimoreWashington' 'Boise' 'Boston'
 'BuffaloRochester' 'California' 'Charlotte' 'Chicago' 'CincinnatiDayton'
 'Columbus' 'DallasFtWorth' 'Denver' 'Detroit' 'GrandRapids' 'GreatLakes'
 'HarrisburgScranton' 'HartfordSpringfield' 'Houston' 'Indianapolis'
 'Jacksonville' 'LasVegas' 'LosAngeles' 'Louisville' 'MiamiFtLauderdale'
 'Midsouth' 'Nashville' 'NewOrleansMobile' 'NewYork' 'Northeast'
 'NorthernNewEngland' 'Orlando' 'Philadelphia' 'PhoenixTucson'
 'Pittsburgh' 'Plains' 'Portland' 'RaleighGreensboro' 'RichmondNorfolk'
 'Roanoke' 'Sacramento' 'SanDiego' 'SanFrancisco' 'Seattle'
 'SouthCarolina' 'SouthCentral' 'Southeast' 'Spokane' 'StLouis' 'Syracuse'
 'Tampa' 'TotalUS' 'West' 'WestTexNewMexico']
  Value Counts:
region
Albany                 338
Atlanta                338
BaltimoreWashington    338
Boise                  338
Boston                 338
BuffaloRochester       338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Denver                 338
Detroit                338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
LasVegas               338
LosAngeles             338
Louisville             338
MiamiFtLauderdale      338
Midsouth               338
Nashville              338
NewOrleansMobile       338
NewYork                338
Northeast              338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
RaleighGreensboro      338
RichmondNorfolk        338
Roanoke                338
Sacramento             338
SanDiego               338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SouthCentral           338
Southeast              338
Spokane                338
StLouis                338
Syracuse               338
Tampa                  338
TotalUS                338
West                   338
WestTexNewMexico       337
Name: count, dtype: int64

3.2 Inspect the earliest recorded date
- Find the earliest `Date`.
- Check if there are avocado prices recorded from the earliest date up to 2010.
- Comment: does the earliest data point look reasonable? Keep or remove?

In [15]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

df.dropna(subset=['Date'], inplace=True)

earliest_date = df['Date'].min()
print(f"Earliest recorded date: {earliest_date}")

records_before_2010 = df[df['Date'].dt.year < 2010]

print(f"\nNumber of records before 2010: {len(records_before_2010)}")
if not records_before_2010.empty:
    print("Records before 2010:")
    display(records_before_2010.head())
else:
    print("No records found before 2010.")

#1904 must be a mistake since it is so much earlier than all the rest i think removing it would be best.

Earliest recorded date: 1904-01-21 00:00:00

Number of records before 2010: 1
Records before 2010:

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
18250,1904-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.8,42.31,0.0,organic,1904,WestTexNewMexico

3.3 Highest average price
- Find the highest value in "AveragePrice".
- Report which region it belongs to.
- Describe how you obtained the result.

In [19]:
highest_avg_price = df['AveragePrice'].max()
rows_with_highest_price = df[df['AveragePrice'] == highest_avg_price]

print(f"The highest AveragePrice found is: {highest_avg_price:.2f}")

highest_price_regions = rows_with_highest_price['region'].unique() #avg prive region

if len(highest_price_regions) == 1:
    print(f"This highest price belongs to the region: {highest_price_regions[0]}")
else:
    print(f"This highest price belongs to the regions: {', '.join(highest_price_regions)}")
"""I found the highest average price using .max() then selected the rows that had that average
price and found out which region they belonged to."""

The highest AveragePrice found is: 3.25
This highest price belongs to the region: SanFrancisco

'I found the highest average price using .max() then selected the rows that had that average \nprice and found out which region they belonged to.'

3.4 Highest total volume
- Find the highest total volume of avocados.
- Report which region it belongs to.
- Describe how you obtained the result.

In [23]:
highest_total_volume = df['Total Volume'].max()
rows_with_highest_volume = df[df['Total Volume'] == highest_total_volume]

print(f"The highest Total Volume found is: {highest_total_volume:.2f}")
highest_volume_regions = rows_with_highest_volume['region'].unique() #avg prive region

if len(highest_volume_regions) == 1:
    print(f"This highest volume belongs to the region: {highest_volume_regions[0]}")
else:
    print(f"This highest volume belongs to the regions: {', '.join(highest_volume_regions)}")

"""same as before I got the max then isolated which region it came from although i am not certain is totalUS was the right answer"""

The highest Total Volume found is: 62505646.52
This highest volume belongs to the region: TotalUS

'same as before I got the max then isolated which region it came from although i am not certain is totalUS was the right answer'